<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Image Gallery</title>  
        <link rel="stylesheet" href="{{ url_for('users.static', filename='employee.css') }}">
    </head>  
    <body>  
        <div class="container">
            <div class="gallery">  
                {% for file in image_data %}
                    <div class="image-card">  
                        <li>
                            <img src="{{ url_for('users.show_images', employee=employee, employee_id=employee_id, image_data=image_data, images=images) }}" style="max-width: 100px;">
                        </li>
                    </div>                
                {% endfor %}
                <div>
                    <h1 id="employee-name">{{ employee.name }}</h1>
                </div>
            </div>  
            <input type="file" id="add-image-button" name="file" class="file-input" multiple accept="image/*">  
            <label for="add-image-button" class="add-image-button">add more image</label>        
        </div>  

        <script src="{{ url_for('users.static', filename='employee.js') }}"></script>
    </body>  
</html>