<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Profile</title>
        <link rel="stylesheet" href="{{ url_for('users.static', filename='employee.css') }}">
    </head>
    <body>
        <div class="profile-container">
            <h1 id="employee-name">{{ employee.name}}</h1>
            
            <div class="profile-images" id="profile-images">
                <img src="{{ url_for('users.get_image', employee_id=employee.id) }}" style="max-width: 100px;">
            </div>

            <button class="back-btn" onclick="goBack()">Go Back</button>
        </div>
        <script src="{{ url_for('users.static', filename='employee.js') }}"></script>
    </body>
</html>
