<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Employee List</title>  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('hr.static', filename='list.css') }}">
        <link rel="stylesheet" href="{{url_for('hr.static', filename='employee.css') }}">
        <link rel="stylesheet" href="{{url_for('hr.static', filename='per-user.css') }}">

    </head>  
    <body>
        <div class="countainer">
            <header>
                <div class="notif-icon">
                    <!-- this part of should have منابع انسانی and 4 other icon -->
                </div>
            </header>

            <div class="content" style="position: relative;">

                
                <form class="left-pannel" id="employee-form" action="{{ url_for('hr.post_user')}}" method="post" enctype="multipart/form-data" >
                    <h3>افزودن پرسنل جدید</h3>

                    <div class="image-placeholder">                    
                        <input type="file" id="image-preview" name="file" class="image-input" accept="image/*" style="height: 38%; width: 22%; padding-bottom: 30px;"> 
                        <img id="list-uploaded-image" class="employee-image" name="employee-image" style="display:none; height: 100%; width: 100%; padding-bottom: 30px; object-fit: cover;">    
                    </div> 

                    <div class="input-row">
                        <input type="text" id="name" name="Fname" placeholder="نام" class="input-filed1" required onfocus="this.style.color='black'" onblur="this.style.color='black'">  
                        <input type="text" placeholder="نام خانوادگی" id="Lname" name="Lname" class="input-filed3" required onfocus="this.style.color='black'" onblur="this.style.color='black'">
                    </div>

                    <input type="text" placeholder="نام نهاد" id="Cname" name="Cname" class="input-filed2" onfocus="this.style.color='black'" onblur="this.style.color='black'">

                    <div class="description1">
                        <textarea class="description" name="description" placeholder="توضیحات" onfocus="this.style.color='black'" onblur="this.style.color='black'"></textarea>
                    </div>

                    <button class="add-btn" id="submit-btn">افزودن</button>

                </form>


                <div class="right-pannel">
                    <div class="top-right-panel">
                        <h3>لیست پرسنل</h3>
                    </div>
                    <table class="employee-list">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>هویت</th>
                                <th>آخرین ورود</th>
                                <th>آخرین خروج</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for employee in employees %}
                                <tr class="body-row" id="listRow" data-id="{{ employee.id }}" data-image_id="{{ employee.images[0].id if employee.images else None }}" data-employee_details='{"name": "{{ employee.name }}", "last_name": "{{ employee.last_name }}", "company_name": "{{ employee.company_name }}", "description": "{{ employee.description }}"}'>
                                    
                                    <td class="body-cell-number">
                                        <span class="row-number" lang="fa">{{ loop.index| persian_number }}</span>
                                    </td>
                                    <td class="image-name">
                                        <img src="{{ url_for('hr.get_image', employee_id=employee.id) }}" alt="{{ employee.name }}" id="image-part" name="image-part" class="image-part">
                                        <span class="name-part">{{ employee.name }} {{ employee.last_name }}</span>
                                    </td>
                                    <td class="time">
                                        <div class="custom-rect">
                                            تاریخ ورود
                                            <button class="calender-add"></button>
                                        </div>
                                    </td>
                                    <td class="time">
                                        <div class="custom-rect">
                                            تاریخ خروج
                                            <button class="calender-add"></button>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="calender-btn" id="calenderBtn" data-id="{{ employee.id }}"></button>
                                        <button class="eye-btn"></button>   
                                        <button class="delete-btn" data-id="{{ employee.id }}"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <button>بعدی</button>
                        <button>3</button>
                        <button>2</button>
                        <button>1</button>
                        <button>قبلی</button>
                    </div>
                </div>


                {% for employee in employees %}

                    {% include 'modal.html' %}
                    
                {% endfor %}
                    
                {% for employee in employees %}

                    {% include 'per-user.html' %}

                {% endfor %}


            </div>
        </div>


        <!-- <iframe src="test.html" style="width: 100%; height: 500px;" frameborder="0"></iframe>   -->
        <script src="{{ url_for('hr.static', filename='per-user.js') }}" defer></script>
        <script src="{{ url_for('hr.static', filename='employee.js') }}" defer></script>
        <script src="{{ url_for('hr.static', filename='list.js') }}" defer></script>

    </body>
</html>
