<div class="modal-overlay" id="modalOverLay" style="display: none;">

    <form class="per-user-modal" id="perUserModal" name="per_user_modal" action="{{ url_for('hr.get_employee_logs', employee_id=employee.id) }}" method="get">

        <div class="header">
            <button type="button" class="close-btn" id="closePeruser"></button>
            <h2 class="employee-name" id="employeeName" name="employee-name"></h2>
            <img src="" alt="image" class="image-preview-peruser" id="imagePreviewPeruser" name="image">
        </div>

        <hr>

        <div class="top-of-panel">
            <h3>لیست ورود و خروج</h3>
        </div>

        <div class="attendance-div">
            
            <table class="attendance-table">
                
                <thead class="att-head">
                    
                    <tr class="att-row-head">
                        

                        <th>زمان خروج</th>
                        <th>زمان ورود</th>
                        
                    </tr>
                    
                </thead>
                
                <tbody>
                    
                    <tr class="att-row-body">

                        {% if logs %}

                            {% for log in logs %}
                            
                                <td class="out-time">

                                    <div class="custom-cell">
                                        <button class="calender-add"></button>
                                        {{ log.out_time if log.out_time else '-' }}
                                    </div>

                                </td>

                                <td class="in-time">

                                    <div class="custom-cell">
                                        <button class="calender-add"></button>
                                        {{ log.in_time }}
                                    </div>

                                </td>

                            {% endfor %}

                        {% else %}
                            <td class="no-attendance" colspan="2">

                                no attendance here

                            </td>
                        {% endif %}

                    </tr>
                    
                </tbody>
                
            </table>
            
        </div>
        
    </form>

</div>