body {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    direction: ltr;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex: 1;
}

.left-pannel, .right-pannel {
    padding: 20px;
    border-radius: 10px;
}

.left-pannel {
    width: 25%;
    background-color: #d7d7d7;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    direction: rtl;
}

.right-pannel {
    width: 75%;
    background-color: #d7d7d7;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 15px;
    direction: rtl;
}

.left-pannel h3, .right-pannel h3 {
    margin-bottom: 20px;
}

.right-pannel h3 {
    font-size: 20px;
}

.input-row {
    display: flex;
    gap: 8px; /* Adds spacing between the two inputs */ 
}

.input-filed1, .input-filed2, .input-filed3, textarea, .image-placeholder {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgba(215, 215, 215, 1);
    margin-bottom: 15px;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    font-size: 14px;
    cursor: pointer;
    text-align-last: right;
    border-radius: 5px;
    border: #bdbdbd;
    background-color: rgba(235, 235, 235, 1);
}

.image-placeholder {
    width: 340px;
    height: 340px;
    background-color:white;
    background-image: url('gallery-add.svg');
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center;  /* Centers the background image */
    cursor: pointer;   /* Add a pointer cursor on hover */
}

.image-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide the file input */
    cursor: pointer;
}

#uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fits the container */
    display: block;
}
    
.employee-image {
    width: 100%;
    height: 67%;
    border-radius: 8px;
    transition: transform 0.03s ease;
    display: block;
}

.employee-image:hover {
    transform: scale();
}

.input-filed1, .input-filed3 {
    width:158px;  
    height: 10px; 
}
    
.input-filed2 {
    width: 340px;
    height: 10px;
}

textarea {
    width: 340px;
    height: 350px;
    resize: none;
}

.add-btn {
    background-color: #124076;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 355px;
    border-radius: 5px;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.edit-button, .quit-button {
    padding: 8px 12px;
    margin: 5px;
    height: 40px;
    width: 178px;
    cursor: pointer;
    border: #124076;
    border-radius: 5px;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.quit-button {
    color: #124076;
    background-color: Gray/Light - 2;
    border: 2px solid #124076;
}

.edit-button {
    background-color: #124076;
    color: white;
}

/* Add hover effect */
.edit-button:hover, .quit-button:hover {
    opacity: 0.8;
    background-color: #ccc;
}


.field-populated {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    margin-bottom: 15px;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    font-size: 14px;
}


.top-right-panel {
  display: flex;
  gap: 800px; /* Adds spacing between the two inputs */
}


.employee-list {
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

.row-number {
    border-radius: 50%;
    font-family: "Vazirmatn", sans-serif;
    font-feature-settings: "lnum" 0, "tnum" 0; /* This will tell the browser to use localized numerals if supported */
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 15px;
    background-color: #bdbdbd;
    border: 2px #ccc;
    width: 30px;              /* Circle width */
    height: 30px;             /* Circle height */
    color: black;
    display: flex;            /* Flex to center content */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    margin: auto;              /* Center in the cell */
}

.employee-list tr {
    border: 3px solid #ccc;
    border-radius: 10px;
}

.employee-list tbody tr:nth-child(even) {
  background: rgba(215, 215, 215, 1);
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.employee-list tbody tr:nth-child(odd) {
  background: rgba(235, 235, 235, 1);
  transition: all 0.01s ease; /* Smooth transition for hover effect */
}

.employee-list tbody tr:hover {
    background-color: rgba(200, 221, 200, 1);
}

.body-row:hover {
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.employee-list th, .employee-list td, .row-number td {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 10px;
    border: 2px solid #ccc;
    text-align: center;
}

.image-name {
  text-align: center;
  padding: 15px;
}

.image-part {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.name-part {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 15px;
  padding-bottom: 15px;
}

.custom-rect {
  display: inline-block;
  padding: 8px 8px;
  border: 2px solid #d4edda;
  background-color: #d4edda;
  border-radius: 25px; 
  text-align: right;
  margin: 10px; /* Outer margin */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.01s ease; /* Smooth transition for hover effect */
}

.employee-list tbody tr:hover .custom-rect {
    background-color: #ffffff; /* Change background color */
  }

.calender-add {
  width: 20px;
  height: 20px;
  background-image: url('calendar-add.svg');
  background-size: contain;    /* Ensures the image scales correctly */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  background-position: center;
  border: none;
  background-color: transparent; /* Make button background transparent */
  cursor: pointer;   /* Add a pointer cursor on hover */
  margin-right: 10px; /* Space between icon and text */
  font-size: 18px; /* Icon size */
  color: #2c3e50; /* Icon color */
}

.employee-list th {
    background-color: rgba(38, 62, 38, 1);
    color: white;
}

.delete-btn{
    width: 20px;
    height: 20px;
    background-image: url('trash.svg');
    background-size: contain;    /* Ensures the image scales correctly */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center;  /* Centers the background image */
    border: none;
    background-color: transparent; /* Make button background transparent */
    cursor: pointer;   /* Add a pointer cursor on hover */
}

.calender-btn {
    width: 20px;
    height: 20px;
    background-image: url('calendar.svg');
    background-size: contain;    /* Ensures the image scales correctly */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center;  /* Centers the background image */
    border: none;
    background-color: transparent; /* Make button background transparent */
    cursor: pointer;   /* Add a pointer cursor on hover */
}

.eye-btn {
    width: 20px;
    height: 20px;
    background-image: url('eye.svg');
    background-size: contain;    /* Ensures the image scales correctly */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center;  /* Centers the background image */
    border: none;
    background-color: transparent; /* Make button background transparent */
    cursor: pointer;   /* Add a pointer cursor on hover */
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}